
/* Fonts*/

.font-roboto-regular{
	font-family: 'Roboto', sans-serif;
	font-weight: 400 !important;
}

.font-roboto-bold{
	font-family: 'Roboto', sans-serif;
	font-weight: 700 !important;
}

html,body{
    height: 100%;
}
 
body{
	padding: 3%;
	background-color: #f0f0f0;
	margin: 0 auto;
}

.index{
	display: table;
}

.section-wrapper{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    display: table-cell;   
    vertical-align: middle; 
    position: relative;/*add by udara 2020-07-02*/
}

.section-one .logo-image-wrapper{
	width: 150px;
	margin: 0 auto 0;
}

.section-one .logo-image-wrapper img{
	width: 100%;
	height: 100%;		
}

.section-two{
	text-align: center;
}

.section-two .main-text{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.section-two .sub-text{
    font-size: 18px;
    color: #999999;
    display: table;
    margin: 8px auto 0;
}

.section-two .sub-text div{
	float: left;
}

.section-two .right-chevron{
	width: 10px;
	float: left;
	margin: 0 5px;
}

.section-two .right-chevron img{
	width: 100%;
	height: 100%;
}

.rating-wrapper{
	margin-top: 30px;
    position: relative;
}

.rating-wrapper .rating-hr{
	position: absolute;
    height: 2px;
    width: 140px;
    top: 25px;
    background-color: #a8a8a8;
    left: 50%;
    transform: translateX(-50%);
}

.rating-wrapper .rating-faces{
	display: inline-block;
	position: relative;
	margin-right: 40px;
	min-width: 50px;
	z-index: 10;
}

.rating-faces input{
	display: none;
}

.rating-faces #imojiOne:checked ~ .rating-face-inner i,
.rating-faces #imoji-2:checked ~ .rating-face-inner i,
.rating-faces #imoji-3:checked ~ .rating-face-inner i{
	color: #fdd78c;
	font-size: 70px;
	margin-left: -8px;
    margin-top: -11px;
}

.rating-faces .emoji-radio:checked ~ .rating-face-inner i:hover{
	cursor: initial;
}

/*.rating-wrapper .rating-face-inner i:hover*/

/*.rating-faces #imojiOne:checked ~ .rating-face-inner .img-yellow,
.rating-faces #imoji-2:checked ~ .rating-face-inner .img-yellow,
.rating-faces #imoji-3:checked ~ .rating-face-inner .img-yellow{
	position: absolute;
}

.rating-faces #imojiOne:checked ~ .rating-face-inner .img-grey,
.rating-faces #imoji-2:checked ~ .rating-face-inner .img-grey,
.rating-faces #imoji-3:checked ~ .rating-face-inner .img-grey{
	position: absolute;
}*/

.rating-faces #imojiOne:checked ~ .rating-text,
.rating-faces #imoji-2:checked ~ .rating-text,
.rating-faces #imoji-3:checked ~ .rating-text{
	color: #fdd78c;
}

.rating-faces .rating-face-inner{
	width: 50px;
	max-height: 50px;
	position: relative;
	margin-top: -2px;
}

.rating-wrapper .rating-faces:last-child{
	margin-right: 0;
}

.rating-wrapper .rating-faces .rating-face-inner i{
	font-size: 50px;
	color: #c8ced3;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.rating-wrapper .rating-text{
    margin-top: 25px;
    font-size: 16px;
    color: #999999;
    margin-bottom: 0;
}

.section-three{
	color: #c9ced4;
}

.section-three-header{
	font-size: 14px;
	text-align: center;
	color: black;
	margin-top: 35px;
}

.section-three-form textarea,
.section-three-form input,
.section-three-form button,
.feedback-upload{
	margin-bottom: 10px;
	padding: 15px 10px;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-three-form textarea:hover,
.section-three-form .form-bottom input:hover,
.section-three-form .feedback-upload:hover,
.section-three-form textarea:focus,
.section-three-form .form-bottom input:focus,
.section-three-form .feedback-upload:focus{
    background-color: #ececec;
    outline: none;
}

.section-three-form .feedback-submit:hover{
	background-color: #5e9ae0;
}

.section-three-form .feedback-submit:hover,
.section-three-form .feedback-upload:hover,
.rating-wrapper .rating-face-inner i:hover{
	cursor: pointer;
}

.rating-wrapper .rating-face-inner i:hover{
	color: #b7bdc1;
}

.feedback-textarea{
	width: 100%;
	height: 110px;
        resize: none;
}

.section-three-form .form-bottom{
	display: flex;
	justify-content: space-between;
}

.section-three-form .form-bottom-left{
	/*float: left;*/
	flex: 80%;
	margin-right: 10px;
}

.form-bottom-left input{
	width: 100%;
}

.form-bottom-left input,
.feedback-textarea,
.form-bottom-right .feedback-upload{
	background-color: #f4f4f4;
}

.section-three-form input::-webkit-input-placeholder,
.section-three-form textarea::-webkit-input-placeholder{
	color: #999999;
	font-size: 15px;
}

.section-three-form input:-ms-input-placeholder,
.section-three-form textarea:-ms-input-placeholder{
	color: #999999;
	font-size: 15px;
}  

.section-three-form input::-moz-placeholder,
.section-three-form textarea::-moz-placeholder{
	color: #999999;
	font-size: 15px;
}


.section-three-form #error-message{
	font-size: 13px;
}

.section-three-form .form-bottom-right{
	display: contents;
}

.form-bottom-right .feedback-upload{
	flex: 20%;
	/*background-image: url("../images/camera.jpg");*/
	background-repeat: no-repeat;
    background-size: 37px 31px;
    background-position: 50% 17%;
    padding-top: 54px;
    font-size: 12px;
    text-align: center;
    color: #323232;
    font-weight: 500;

}

.feedback-submit{
	width: 100%;
	background-color: #7ca6d8;
	color: white;
    font-size: 20px;
    -webkit-appearance: none;
}

/*
	Thank you page
*/
.thank-you-page{
    width: 40%;
    height: 85%;
}

.thank-you-wrapper{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: 100%; 
    position: relative;/*add by udara 2020-07-02*/
    /*padding-top: 20vh;*/
    
}

.check-image-wrapper{
    width: 120px;
    display: table;
    margin: auto;
}

.check-image-wrapper img{
    width: 100%;
    height: 100%;
}

.thank-you-text-wrapper{
    text-align: center;
    background-color: #ebf2fa;
    padding: 30px 0;

}

.thank-you-text-wrapper .top-text{
    font-size: 30px;
    margin: 0;
    color: #7ca4d8;
}

.thank-you-text-wrapper .bottom-text{
    font-size: 16px;
    margin: 0;
}
@media (max-width: 1024px){
    .thank-you-page{
        width: 65%;
        height: 80%;
    }
}
@media (max-width: 768px){
    .thank-you-page{
        width: 94%;
        height: 93%;
    }
}
@media (max-width: 414px){
    .thank-you-page{
        width: 94%;
        height: 93%;
    }
}
@media (max-width: 375px){
    .thank-you-text-wrapper .top-text{
        font-size: 25px;
    }
}

.content-loader-2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
    top: 15px;
    left: 0px;
    right: 0px;
    bottom: 15px;
    /*background-color: #fdd78c;*/
    margin: 0 14px;
}


.content-loader-2:after {
    content: '';
    border: 2px solid #fff;
    border-top: 2px solid #68a2e4;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.content-loader-2:after {
    width: 60px;
    height: 60px;
    border: 3px solid #e9e9e9;
    border-top: 3px solid #68a2e4;
    top: 44%;
    left: 44%;
    right: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}