/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2017, 11:44:44 PM
    Author     : user
*/

.toolbar{
    width: 100vw;
    height: 50px;
    background-color: aliceblue;
    padding: 0;
    margin:0;
}
.toolbar button{
    padding: 5px 5px;
    margin: 10px 10px;
}