/* ---------------------------------
    Login Page
   --------------------------------- */
.bg-gradient {
    background: url(../images/bg-gradient.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.panel-login {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 40px 25px;
    min-height: 490px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(45, 45, 45, 0.17);
    box-shadow: 0px 0px 8px 0px rgba(45, 45, 45, 0.17);
}

.panel-login .panel-header {
    text-align: center;
    margin-bottom: 20px;
}

.panel-login .company-logo img {
    max-height: 70px;
    max-width: 250px;
}

.panel-login .company-logo .app-title {
    font-size: 16px;
    margin-top: 8px;
}

.panel-login .form-control {
    background-color: #f4f4f4;
    border-color: transparent;
    border-radius: 5px;
    height: 40px;
}

.panel-login .form-control:focus {
    background-color: #f4f4f4;
    border-color: transparent;
    box-shadow: none;
}

.panel-login .btn {
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
}

.hidden-login-field {
    display: none;

}

/* ---------------------------------
    Loading Bar
   --------------------------------- */
.loading-bar {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 3px;
    background: transparent;
    z-index: 5;
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: all 350ms linear;
    -moz-transition: all 350ms linear;
    -o-transition: all 350ms linear;
    transition: all 350ms linear;
}

.loading-bar .loader-progress {
    background: #69a3e4;
    position: absolute;
    height: 3px;
    left: 0;
    top: 0;
    width: 0;
    -webkit-transition: all 350ms linear;
    -moz-transition: all 350ms linear;
    -o-transition: all 350ms linear;
    transition: all 350ms linear;
}

/* ---------------------------------
    Header
   --------------------------------- */

/* Top toolbars */
.toolbar-top {
    background-color: #0c0c0c;
    height: 60px;
}

.toolbar-top .company-logo {
    display: inline-block;
    padding-top: 3px;
}

.toolbar-top .company-logo img {
    max-height: 50px;
    max-width: 250px;
}

.toolbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

.toolbar-nav>li,
.toolbar-nav>li>a {
    display: flex;
    height: 100%;
    align-items: center;
}

.toolbar-nav>li {
    float: left;
    position: relative;
}

.toolbar-nav>li>a {
    position: relative;
    padding: 15px;
    font-size: 18px;
    color: #fff;
}

.toolbar-nav>li>a>span {
    font-size: 16px;
}

.toolbar-nav>li>a:hover {
    color: #69a3e4;
}

.toolbar-icon-user {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 100px;
    object-fit: cover;
}

.toolbar-badge {
    position: absolute;
    min-width: 16px;
    min-height: 16px;
    height: 16px;
    line-height: 14px;
    font-size: 11px !important;
    display: block;
    background-color: #e50f0f;
    color: #fff;
    border-radius: 60px;
    top: 10px;
    right: 7px;
    text-align: center;
    width: auto;
    font-weight: 500;
    padding: 2px;
}

/* Bottom Toolbar */
.toolbar-bottom {
    background-color: #2c2c2c;
    height: 65px;
}

.toolbar-bottom .toolbar-nav {
    height: 65px;
}

.toolbar-bottom .toolbar-nav li>a {
    padding: 15px 25px;
    position: relative;
}

.toolbar-bottom .toolbar-nav li>a>.fa {
    margin-right: 10px;
}

.toolbar-bottom .toolbar-nav li.active>a,
.toolbar-bottom .toolbar-nav li>a:hover {
    background-color: #0c0c0c;
    color: #fff;
}

#link-logout.btn-loading.spin-loader-mini:after {
    top: 9px;
    border: 2px solid #ddd;
    border-top: 2px solid #68a2e4;
}

.toolbar-bottom .toolbar-badge {
    top: 18px;
    right: 9px;
}

/* Header Search */
.toolbar-search {
    width: 100%;
    height: 60px;
    display: none;
    padding: 13px 0px;
}

.toolbar-search .form-control {
    background-color: #2c2c2c;
    border: none;
    color: #fff;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .toolbar-nav li>a {
        font-size: 16px;
        padding: 15px 10px;
    }

    .toolbar-nav>li>a>span {
        font-size: 14px;
    }

    .toolbar-bottom .toolbar-nav li>a {
        padding: 15px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .toolbar-bottom .toolbar-nav li>a {
        font-size: 13px;
    }

    .toolbar-bottom .toolbar-nav li>a>.fa {
        display: none;
    }
}

/* ---------------------------------
    Sidebar
   --------------------------------- */
.app-sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    bottom: 0;
    background-color: #fff;
    width: 350px;
    z-index: 3000;
    overflow: hidden;
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.app-sidebar.open {
    right: 0;
}

.sidebar-header {
    height: 60px;
    padding: 20px 15px;
    border-bottom: 1px solid #DBDBDB;
}

.sidebar-content {
    max-height: calc(100vh - 60px);
}

.sidebar-header .sidebar-title {
    font-size: 18px;
}

.sidebar-header .sidebar-closer {
    font-size: 40px;
    line-height: 13px;
    font-weight: 300;
    color: #b2b2b2;
}

.sidebar-header .sidebar-closer:hover {
    color: #69a3e4;
}

.sb-user-heading {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px;
}

.sb-user-heading .image {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid rgba(229, 229, 229, 0.7);
}

.sb-user-heading .image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.sb-user-heading .content {
    padding: 0 30px 0 15px;
}

.sb-user-heading .content .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
    line-height: 1.2;
}

.sb-user-content {
    padding: 15px;
}

/* Notifications */
.notifi-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.notifi-list li a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 5px solid transparent;
}

.notifi-list li:nth-of-type(even) a {
    background-color: #f8f8f8;
}

.notifi-list li a:hover {
    background-color: #f6f6f6;
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.notifi-list .info-image .image {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    border: 0;
    font-size: 25px;
    text-align: center;
    height: auto;
    min-height: 1px;
    padding-top: 3px;
}

.notifi-list .info-image .content .title,
.notifi-list .info-image .content .sub-title {
    line-height: 1.1;
    color: #858585;
}

.notifi-list .info-image .content .title {
    font-weight: 500;
}

.notifi-list .info-image .content .sub-title {
    font-size: 12px;
}

.notifi-list li.unread a {
    /*    border-left-color: #69a3e4;*/
    background-color: #b5d5f8;
    border-top: 0;
    border-bottom-color: #fff;
}

.notifi-list li a.spin-loader-mini:after {
    top: 5px;
    right: 5px;
    border-color: transparent;
    border-top-color: #68a2e4;
}

/* ---------------------------------
    Footer
   --------------------------------- */
.app-footer {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-footer p {
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------------------------------
    Page Layout
   --------------------------------- */
.moni-app {
    height: 100%;
}

/* App Container */
.content-viewer {
    position: relative;
    padding: 15px;
}

.panel {
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(45, 45, 45, 0.17);
    box-shadow: 0px 0px 9px 0px rgba(45, 45, 45, 0.17);
}

.panel.panel-gap-25 {
    padding: 25px;
}

.panel-title h1 {
    margin-top: 0;
    font-weight: 400;
}

.page-toolbar {
    margin-top: 15px;
    margin-bottom: 15px;
}

.toolbar-inline:before,
.toolbar-inline:after {
    content: '';
    display: table;
    clear: both;
}

.toolbar-inline>.inline-item {
    float: left;
    margin-right: 35px;
}

.toolbar-inline>.inline-item:last-child {
    margin-right: 0;
}


.content-wrapper {
    position: relative;
}

.push-content {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 25%;
    padding: 25px 0 25px 50px;
    background-color: #fff;
    z-index: 10;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.push-content.open {
    display: block;
}

.push-content .content-drawer {
    background-color: #858585;
    color: #fff;
    width: 25px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    margin-top: 10px;
    font-size: 28px;
    color: #626262;
}

@media screen and (max-width: 991px) {
    .push-content {
        overflow-x: auto;
        left: 0;
    }
}

/* ---------------------------------
    Custom elements
   --------------------------------- */

/* Info Image */
.info-image {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info-image .image {
    width: 60px;
    height: 45px;
    min-width: 60px;
    min-height: 45px;
    max-width: 60px;
    max-height: 45px;
    overflow: hidden;
    border: 1px solid rgba(229, 229, 229, 0.7);
}

.info-image.user .image {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

.info-image .image>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.info-image .content {
    padding: 5px 10px;
}

.info-image .content .title {
    margin-bottom: 3px;
}

.info-image .content .sub-title {
    font-size: 13px;
}

/* Lists */
.list-plain {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-plain>li {
    margin-bottom: 10px;
    white-space: nowrap;
}

.list-plain>li:nth-child(even) {
    font-weight: 500;
}

/* ---------------------------------
    Reports
   --------------------------------- */
.rep-link-box {
    position: relative;
    width: 100%;
}

.rep-link-box .icon {
    width: 100%;
    height: 160px;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-size: 80px;
    color: #69a3e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rep-link-box .icon:hover {
    border: 1px solid #69a3e4;
}

.rep-link-box .title {
    margin-top: 10px;
}

.rep-link-box .title a {
    color: #858585;
    font-size: 19px;
}

.rep-link-box .title a:hover {
    color: #69a3e4;
}

.select-wrapper option[value='? undefined:undefined ?'] {
    display: none;
}

.image-group {
    position: relative;
    display: table;
    vertical-align: middle;
}

.image-group .image-item {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.image-group .image-item:last-child {
    padding-right: 0;
}

.image-group .image-item img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(229, 229, 229, 0.7);
    border-bottom: 0;
}

.image-group .image-item .caption {
    text-align: center;
    font-size: 16px;
    background-color: #eee;
    padding: 5px 15px;
    color: #333;
}

.bordered-group {
    border-bottom: 1px solid #e5e5e5;
}

.bordered-group {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ---------------------------------
    Page Contents
   --------------------------------- */

/* Add Schedule */
.strip-card-checkpoint {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    cursor: default;
}

.strip-card-checkpoint h2 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 3px;
    line-height: 1.2;
}

.strip-card-checkpoint p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.2;
}

/* Checkpoint */
.hover-box {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hover-box>a {
    display: block;
    width: 100%;
    height: 100%;
}

.hover-box>a.link-action {
    position: absolute;
    width: auto;
    height: auto;
    right: 5px;
    top: 5px;
    opacity: 0;
    /*    color: #fff;*/
}

.hover-box:hover>a.link-action {
    opacity: 1;
}

.hover-box .bg-image,
.hover-box .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}

.hover-box .bg-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hover-box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 1;
    padding: 15px;
}

.hover-box .content .title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 17px;
}

.hover-box .content .sub-title {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.2;
}

.hover-box .content .sub-title:last-child {
    margin-bottom: 0;
}

.hover-box .gradient-overlay {
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.hover-box .gradient-overlay>.fa {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: 15px;
    right: -30px;
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hover-box:hover .gradient-overlay>.fa {
    right: 15px;
}

.hover-box:hover .bg-image>img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tbl-data-view {
    margin-left: -10px;
    margin-right: -10px;
}

.tbl-data-view table {
    width: 100%;
}

.tbl-data-view table>tbody>tr>td {
    padding: 8px 10px;
    vertical-align: top;
    font-size: 14.5px;
}

.tbl-data-view table>tbody>tr>td p {
    margin-top: 0;
    margin-bottom: 0;
}

.checkpoint-success-card {
    background-color: #f8f8f8;
    padding: 30px 50px;
    margin-left: 15%;
    margin-right: 15%;
}

/* Reviews */
.pg-review .pg-review-cont {
    height: calc(100vh - 160px);
}

.pg-review .scroll-container {
    height: calc(100vh - 210px);
}

.pg-review .pic-default {
    width: 130px;
    height: auto;
    max-height: 130px;
}

.pg-review .panel-content {
    padding: 30px 15px 15px;
}

.review-zoom-image {
    text-align: center;
    background-color: #eee;
}

.review-zoom-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 1px;
    min-height: 1px;
    object-fit: contain;
    margin: 0 auto;
}

.pg-review .badge-status {
    position: relative;
    display: inline-block;
}

.pg-review .badge-status.badge-inline .badge-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    background-color: #ddd;
    font-size: 17px;
    text-align: center;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
}

.badge-status.badge-inline .badge-circle.success {
    background-color: #69bb67;
}

.badge-status.badge-inline .badge-circle.warning {
    background-color: #dd992d;
}

.badge-status.badge-inline .badge-circle.danger {
    background-color: #e18484;
}

.badge-status.badge-inline .badge-circle.notice {
    background-color: #4e4e4e;
}

.pg-review .btn-work-toggle {
    bottom: 10px !important;
    margin-left: auto !important;
    left: 50%;
    z-index: 9;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.seal-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 9;
    border-top: 130px solid #e18484;
    border-left: 130px solid transparent;
}

.seal-triangle>div {
    position: absolute;
    top: -110px;
    right: -15px;
    color: #fff;
    font-size: 20px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari */
    -moz-transform: rotate(45deg);
    /* Safari */
    transform: rotate(45deg);
}

.seal-triangle>div span {
    display: block;
}

/* Settings - Locations */
.location-accordian,
.location-accordian ul.accodian-submenu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.location-accordian ul.accodian-submenu {
    display: none;
    margin-left: 50px;
    margin-bottom: 15px;
}

.location-accordian li {
    position: relative;
}

.location-accordian li .item-strip {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    background-color: #f6f6f6;
    display: block;
    padding-right: 40px;
    padding-left: 20px;
    position: relative;
    position: relative;
}

.location-accordian li.active>.item-strip,
.location-accordian li.has-active>.item-strip {
    background-color: #d5d5d5;
}

.location-accordian li .item-strip .item-label {
    font-weight: 500;
    color: #858585;
}

.location-accordian li.has-children>.item-strip .fa.fa-angle-right {
    font-size: 16px;
    margin-right: 8px;
}

.location-accordian li.has-children.open>.item-strip .fa.fa-angle-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.location-accordian li .item-strip .item-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 38px;
    line-height: 40px;
    font-size: 18px;
    color: #b1b1b1;
    text-align: center;
}

.location-accordian li .item-strip .item-icon:hover {
    color: #69a3e4;
}

.location-accordian ul.accodian-submenu li:last-child {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 13px;
}

.location-accordian .has-active ul.accodian-submenu {
    display: block;
}

/* Settings - Users */
.checkpoint-card {
    background-color: #f8f8f8;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    min-height: 170px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(45, 45, 45, 0.17);
    box-shadow: 0px 0px 9px 0px rgba(45, 45, 45, 0.17);
}

.checkpoint-card .checkpoint-list {
    margin: 0;
    padding: 0;
}

.checkpoint-card .checkpoint-list li {
    margin-bottom: 4px;
    margin-left: 60px;
    font-size: 14px;
    position: relative;
}

.checkpoint-card .checkpoint-list li:after {
    content: '';
    width: 43px;
    height: calc(100% + 4px);
    top: 8px;
    left: -58px;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    position: absolute;
}

.checkpoint-card .checkpoint-list li:first-child:before {
    content: '';
    position: absolute;
    border-left: 1px solid #e5e5e5;
    left: -58px;
    height: 20px;
    top: -12px;
}

.checkpoint-card .checkpoint-list li:last-child:after {
    border-left: none;
}

/* Dashboard */
.row-heading td {
    background-color: #2c2c2c !important;
    color: #fff;
    padding: 13px 20px !important;
}

.row-heading td span.text {
    font-size: 17px;
}

.row-quicklinks td {
    padding: 0 !important;
}

.row-quicklinks td a {
    display: flex;
    align-items: center;
    padding: 20px;
}

.row-quicklinks td .fa {
    font-size: 45px;
    margin-right: 20px;
    width: 50px;
    text-align: center;
}

.row-quicklinks td span.text {
    font-size: 20px;
}

.row-extended td {
    padding: 25px 20px !important;
}

/* Reports */
.rr-strip {
    background-color: #f8f8f8;
    padding: 5px 15px;
    position: relative;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(45, 45, 45, 0.17);
    box-shadow: 0px 0px 9px 0px rgba(45, 45, 45, 0.17);
}

.rr-strip .strip-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rr-strip h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.rr-strip p {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 3px;
}

.rr-strip .strip-content .left {
    padding-right: 15px;
}

.rr-strip .strip-content .right {
    width: 100px;
    min-width: 100px;
}

.rr-strip .strip-result-percent {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 11px;
    font-weight: 500;
}

.rr-strip .strip-result-percent:after {
    font-family: 'FontAwesome';
    content: '\f0d8';
    margin-left: 3px;
    display: inline-block;
}

.rr-strip .strip-result-percent.up {
    color: #69bb67;
}

.rr-strip .strip-result-percent.down {
    color: #e50f0f;
}

.rr-strip .strip-result-percent.down:after {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.review-zoom-image .content-loader {
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.review-zoom-image .content-loader:after {
    top: 150px;
}

/* Progress Circle */
.progress-circle {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ebebeb
}

.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s
}

.progress-circle span {
    font-size: 14px;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    width: 60px;
    height: 60px;
    line-height: 15px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    align-items: center;
    justify-content: center
}

.progress-circle.progress-0:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-1:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(93.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-2:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(97.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-3:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(100.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-4:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(104.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-5:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(108deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-6:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(111.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-7:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(115.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-8:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(118.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-9:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(122.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-10:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(126deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-11:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(129.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-12:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(133.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-13:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(136.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-14:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(140.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-15:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(129.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-16:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(133.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-17:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(136.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-18:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(140.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-19:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(144deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-20:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(151.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-21:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(158.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-22:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(161.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-23:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(165.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-24:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(169.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-25:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-26:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(183.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-27:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(187.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-28:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(190.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-29:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(194.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-30:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(198deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-31:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(201.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-32:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(205.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-33:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(208.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-34:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(212.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-35:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(216deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-40:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(234deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-36:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(219.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-37:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(223.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-38:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(226.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-39:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(230.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-41:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(237.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-42:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(241.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-43:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(244.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-44:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(248.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-45:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(252deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-46:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(255.6deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-47:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(259.2deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-48:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(262.8deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-49:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(266.4deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-51:after {
    background-image: linear-gradient(-86.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-52:after {
    background-image: linear-gradient(-82.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-53:after {
    background-image: linear-gradient(-79.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-54:after {
    background-image: linear-gradient(-75.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-55:after {
    background-image: linear-gradient(-72deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-56:after {
    background-image: linear-gradient(-68.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-57:after {
    background-image: linear-gradient(-64.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-58:after {
    background-image: linear-gradient(-61.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-59:after {
    background-image: linear-gradient(-57.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-60:after {
    background-image: linear-gradient(-54deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-61:after {
    background-image: linear-gradient(-50.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-62:after {
    background-image: linear-gradient(-46.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-63:after {
    background-image: linear-gradient(-43.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-64:after {
    background-image: linear-gradient(-39.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-65:after {
    background-image: linear-gradient(-36deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-66:after {
    background-image: linear-gradient(-32.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-67:after {
    background-image: linear-gradient(-28.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-68:after {
    background-image: linear-gradient(-25.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-69:after {
    background-image: linear-gradient(-21.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-70:after {
    background-image: linear-gradient(-18deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-71:after {
    background-image: linear-gradient(-14.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-72:after {
    background-image: linear-gradient(-10.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-73:after {
    background-image: linear-gradient(-7.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-74:after {
    background-image: linear-gradient(-3.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-75:after {
    background-image: linear-gradient(0deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-76:after {
    background-image: linear-gradient(3.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-77:after {
    background-image: linear-gradient(7.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-78:after {
    background-image: linear-gradient(10.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-79:after {
    background-image: linear-gradient(14.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-80:after {
    background-image: linear-gradient(18deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-81:after {
    background-image: linear-gradient(21.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-82:after {
    background-image: linear-gradient(25.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-83:after {
    background-image: linear-gradient(28.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-84:after {
    background-image: linear-gradient(32.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-85:after {
    background-image: linear-gradient(36deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-86:after {
    background-image: linear-gradient(39.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-87:after {
    background-image: linear-gradient(43.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-88:after {
    background-image: linear-gradient(46.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-89:after {
    background-image: linear-gradient(50.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-90:after {
    background-image: linear-gradient(54deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-91:after {
    background-image: linear-gradient(57.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-92:after {
    background-image: linear-gradient(61.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-93:after {
    background-image: linear-gradient(64.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-94:after {
    background-image: linear-gradient(68.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-95:after {
    background-image: linear-gradient(72deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-96:after {
    background-image: linear-gradient(75.6deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-97:after {
    background-image: linear-gradient(79.2deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-98:after {
    background-image: linear-gradient(82.8deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-99:after {
    background-image: linear-gradient(86.4deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

.progress-circle.progress-100:after {
    background-image: linear-gradient(90deg, #69a3e4 50%, transparent 50%, transparent), linear-gradient(270deg, #69a3e4 50%, #ebebeb 50%, #ebebeb)
}

@-webkit-keyframes colorload {
    0% {
        opacity: 0;
        transform: rotate(0)
    }

    100% {
        opacity: 1;
        transform: rotate(360deg)
    }
}

@media screen and (min-width: 992px) {
    .pg-review .btn-group {
        margin-left: -30px;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 1400px) {
    .pg-worklist .toolbar-inline>.inline-item:first-child {
        min-width: 20%;
    }
}

@media screen and (max-width: 991px) {
    .rr-strip h2 {
        font-size: 17px;
    }

    .pg-review .pg-review-cont,
    .pg-review .scroll-container {
        height: auto;
    }

    .review-zoom-image img {
        max-height: 500px;
    }
}

/* Test elements (Have to fix) */
.tst-rdo-ab-top-rt {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* 404 page */
.error-template {
    padding: 80px 15px 40px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.error-template h2 {
    font-size: 45px;
    margin: 25px 0px;
    line-height: 1;
}

/* Import/Export Data  */
.import-hint-text {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.7;
    line-height: 1.3;
}

.sample-doc-link {
    margin-top: 5px;
}

.sample-doc-link i {
    margin: 0px 5px;
}